@charset "UTF-8";

.category_background {
    background: linear-gradient(270deg, #b4b4b4, #ffffff);
    border-top: #E6F14A solid 5px;
    margin-top: 5%;
}
.category_list  {
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin: 2% 3% 2% 3%;
    place-items: center;
}
.category_list  button{
    font-family: 'Anton',"Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    width: 100%;
    max-width: 500px;
    
    margin: 20px 0px;
    color: #28262C;
    text-align: center;
    font-size: 20px;
    /* text-shadow: 2px 4px 5px #28262C;  */
}

input:hover{
    color: #E6F14A;
    cursor : pointer;
}

@media screen and (max-width: 1600px) {
    .category_list  {
        font-weight: bold;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin-top: 5%;
        place-items: center;
        margin: 2% 6% 2% 6%;
    }
    .category_list  input{
        font-family: 'Anton',"Helvetica Neue",
        Arial,
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        Meiryo,
        sans-serif;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0);
        border: none;
        width: 100%;
        max-width: 400px;
        margin: 10px 0px;
        color: #28262C;
        text-align: center;
        font-size: 16.5px;
        /* text-shadow: 2px 4px 5px #28262C;  */
    }
    
}
@media screen and (max-width: 800px) {
    .category_list  {
        font-weight: bold;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin-top: 5%;
        place-items: center;
        margin: 2% 1% 2% 1%;
    }
    .category_list  input{
        font-family: 'Anton',"Helvetica Neue",
        Arial,
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        Meiryo,
        sans-serif;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0);
        border: none;
        width: 100%;
        max-width: 150px;
        margin: 8px 0px;
        color: #28262C;
        text-align: center;
        font-size: 10px;
        /* text-shadow: 2px 4px 5px #28262C;  */
    }

    @media screen and (max-width: 450px) {
        .category_list  {
            font-weight: bold;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            margin-top: 5%;
            place-items: center;
            margin: 5% 1% 2% 1%;
        }
        .category_list  input{
            font-family: 'Anton',"Helvetica Neue",
            Arial,
            "Hiragino Kaku Gothic ProN",
            "Hiragino Sans",
            Meiryo,
            sans-serif;
            font-weight: bold;
            background-color: rgba(255, 255, 255, 0);
            border: none;
            width: 100%;
            max-width: 150px;
            margin: 8px 0px;
            color: #28262C;
            text-align: center;
            font-size: 10px;
            /* text-shadow: 2px 4px 5px #28262C;  */
        }
    }
}